PawnUnit Specification
======================

Main goals, in order of priority:

    * Easy to write tests (hide complexity, clean test code)
    * Support unit tests
    * Support fully automated testing
    * Embedded in plugin with minimal impact on plugin code
    * Support asynchronous tests to deal with callbacks and events  -- UNSATISFIED due to current SourcePawn limits!
    * Generate test report in multiple formats
    * Support manually starting individual tests    -- Not a priority at the moment.
